{% extends "model.html" %}
{% block content %}

        <div class="banner">
            <div class="banner-btn">
                <a class="prevBtn"></a>
                <a class="nextBtn"></a>
            </div>
            <div class="bnn-main">
                <ul class="banner-img">
                    
                    <li>
                        <a  target="_blank">
                            <img src="{{STATIC_URL}}image/background1.jpg" />
                        </a>
                    </li>
                </ul>
            </div>
            
        </div>
    </div>

    <div class="wrapper long-ads mtop10" id="xywkt">
        <div class="groom">
            <span class="fl">视频微课堂</span>
        </div>
        <div class="content">
            <!--学易微课堂 begin-->
            <div class="content">
                            <div class="video_li">
                                <div class="v-thumb">
                                    <a href="/video" title="物质的量浓度根本原理" target="_blank">
                                        <img src="{{STATIC_URL}}image/shipinbeijing.jpg" style="height: 141px; width: 220px;" />
                                        <span>物质的量浓度根本原理</span>
                                    </a>
                                </div>
                            </div>

            </div>
            <!--学易微课堂 end-->

        </div>
 {% endblock %}
