{% extends "model.html" %}
{% block content %}

<div class="wrapper long-ads mtop10">
<div class="play" style="z-index: 1;">
            <div class="fl bofangqi">
<iframe height=498 width=875 src='http://player.youku.com/embed/XMzA5NTUxNzMzNg==' frameborder=0 'allowfullscreen'></iframe>
            </div>
            <div class="fr bofanglist">
                <ul>
                    <li class="li_hover" onclick="window.location.href='5158705.html'">
                        <span>
                            <a href="/video" title="物质量的浓度计算1">
                                物质量的浓度计算1
                            </a>
                        </span>
                    </li>

                </ul>
            </div>
        </div>

        <div class="play_con mtop10">
            <div class="fl width_655">
                <h3>剖析物质的量浓度根本原理, 不再混淆公式</h3>

                <div class="qieh">
                    <span id="s1" class="on">课程介绍</span>
                </div>
                <div id="d1" class="qiehcon">

                    关于溶液组成的表示方法的考查,每年都会涉及,足以说明“物质的量浓度”是高考的热点。因此理解物质的量浓度的涵义并能熟练进行相关计算及掌握一定物质的量浓度溶液的配制,就成为学好高中化学的基石。
                </div>

                
            </div>
            <div class="fr width_485">
                <div class="line">
                    <font>课程标签：</font>
				</div>
                <div class="width_600">
<a>视频</a><a>高考</a><a>化学</a>
                </div>
                
            </div>
        </div>
    </div>
	
 {% endblock %}
